body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.subscription-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-label {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.email-input {
    padding: 10px;
    font-size: 1em;
    margin-bottom: 10px;
}

.submit-btn {
    cursor: pointer;
}